* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url("images/grass-tile.jpg");
	background-color: #577A26;
}

main {
/*	padding: 30px;  */
	max-width: 1000px;
	margin: 50px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #474747;
}

.hidden {
  display: none;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 4.0em;
	font-weight: bold;
	color: whitesmoke;
	margin: 20px;
}

.startDescription {
	padding: 20px;
	font-size: 1.4em;
	color: whitesmoke;
	text-align: center;
}

.getStarted {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 60px;
}

.scoreboard {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.getStarted button {
	width: 150px;
	height: 150px;
	font-weight: bold;
	font-size: 1.3em;
}


.results {
	width: 30%;
	height: 50px;
	background-color: #474747;
	border: grey 2px solid;
	color: whitesmoke;
	padding-top: 12px;
	text-align: center;
}


.progress {
	font-family: 'Permanent Marker', cursive; 
	width: 50%;
	height: 50px;
	background-color: #474747;
	border: grey 2px solid;
	color: whitesmoke;
	padding-top: 12px;
	text-align: center;
    font-size: 1.5em;
}

.askQuestion { 
	background-color: whitesmoke;
	color: #474747;
}

.displayAnswer { 
	background-color: #474747;
	color: whitesmoke;
	padding: 10px;
	font-size: .9em;
	line-height: 1.1;
	border-radius: 5px;
/*	font-family: Raleway, sans-serif;  */
}


.input-button {
	width: 150px;
	height: 40px;
	margin-top: 15px;
}

button:disabled {
	background-color: lightgray;
	color: darkgray;
}

button:enabled {
	background-color: #026AA7;
	color: white;

}

section {
	padding: 10px;
}

form {
	margin: 10px;
}

label, legend {
	margin-bottom: 5px;
}

ul {
/*	margin-left: 10px; */
	list-style-type: square;
	margin-top: 5px;
}

li {
	margin-left: 30px;
	padding-bottom: 5px;
}

